<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="samurai.wrapper">

    <resources>
        <resource-root path="samurai.jar"/>
        <resource-root path="cst-samurai.jar"/>
    </resources>

    <dependencies>
    	<module name="com.customized.tools.po" services="import"/>
    	<module name="com.customized.tools.cli" services="import"/>
    	<module name="org.apache.log4j" services="import"/>
    </dependencies>
</module>
