<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="bootstrap.test.cst06">

	<main-class name="com.customized.tools.test.cst06.CST06Reproduction"/>

    <resources>
    </resources>

    <dependencies>
    	<module name="com.customized.tools.test" services="import"/>
    	<module name="javax.api"/>
    </dependencies>
</module>
